mcp-servers/employee-onboarding-mcp-server/src/main/mule/employee-onboarding-mcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
	xmlns:db="http://www.mulesoft.org/schema/mule/db" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
		http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd">

	<!-- ========================================================================================= -->
	<!-- MCP SERVER IMPLEMENTATION - AGENT FABRIC INTEGRATION -->
	<!-- ========================================================================================= -->

	<!-- MCP Server Info Endpoint -->
	<flow name="mcp-info" doc:name="MCP Server Info Flow">
		<http:listener doc:name="MCP Info Listener" config-ref="streamable-http-config" path="/mcp/info"/>
		<ee:transform doc:name="MCP Server Info Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	name: "${mcp.server.name}",
	version: "${mcp.server.version}",
	description: "${mcp.server.description}",
	capabilities: {
		tools: {}
	},
	tools: [
		{
			name: "create-employee",
			description: "Create a new employee record in the system. Automatically generates employee ID if not provided and sets up initial employee profile for the onboarding process.",
			inputSchema: {
				"type": "object",
				properties: {
					employeeId: {
						"type": "string",
						description: "Unique identifier for the employee (auto-generated if not provided)"
					},
					firstName: {
						"type": "string",
						description: "Employee's first name"
					},
					lastName: {
						"type": "string",
						description: "Employee's last name"
					},
					email: {
						"type": "string",
						format: "email",
						description: "Employee's email address (must be unique)"
					},
					phone: {
						"type": "string",
						description: "Employee's phone number"
					},
					departmentId: {
						"type": "number",
						description: "Department ID (foreign key to departments table)"
					},
					position: {
						"type": "string",
						description: "Job title/position"
					},
					hireDate: {
						"type": "string",
						format: "date",
						description: "Employee hire date (YYYY-MM-DD format, defaults to current date)"
					},
					salary: {
						"type": "number",
						description: "Annual salary"
					},
					address: {
						"type": "string",
						description: "Employee's address"
					}
				},
				required: ["firstName", "lastName", "email"],
				additionalProperties: false
			}
		},
		{
			name: "get-employee",
			description: "Retrieve detailed information for a specific employee by their employee ID. Returns complete employee profile including current status and metadata.",
			inputSchema: {
				"type": "object",
				properties: {
					empId: {
						"type": "string",
						description: "Unique employee identifier (e.g., EMP001)"
					}
				},
				required: ["empId"],
				additionalProperties: false
			}
		},
		{
			name: "list-employees",
			description: "Retrieve a paginated list of employees with optional filtering by status. Supports pagination for efficient handling of large employee datasets.",
			inputSchema: {
				"type": "object",
				properties: {
					page: {
						"type": "number",
						minimum: 1,
						"default": 1,
						description: "Page number for pagination"
					},
					size: {
						"type": "number",
						minimum: 1,
						maximum: 100,
						"default": 10,
						description: "Number of employees per page"
					},
					status: {
						"type": "string",
						"enum": ["PENDING", "ACTIVE", "INACTIVE", "TERMINATED"],
						description: "Filter employees by status"
					}
				},
				additionalProperties: false
			}
		},
		{
			name: "update-employee-status",
			description: "Update the onboarding status of an employee. Supports standard employee lifecycle statuses and tracks status change history.",
			inputSchema: {
				"type": "object",
				properties: {
					empId: {
						"type": "string",
						description: "Unique employee identifier (e.g., EMP001)"
					},
					status: {
						"type": "string",
						"enum": ["PENDING", "ACTIVE", "INACTIVE", "TERMINATED"],
						description: "New status for the employee"
					}
				},
				required: ["empId", "status"],
				additionalProperties: false
			}
		}
	],
	resources: [
		{
			uri: "employees://profiles/all",
			name: "Employee Profiles",
			description: "Complete employee profile data including personal info, employment details, and status"
		},
		{
			uri: "employees://status/pending",
			name: "Pending Employees",
			description: "List of employees with pending onboarding status"
		},
		{
			uri: "employees://status/active",
			name: "Active Employees",
			description: "List of currently active employees"
		},
		{
			uri: "employees://analytics/metrics",
			name: "Employee Metrics",
			description: "Employee onboarding analytics and metrics"
		}
	]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<!-- MCP Tool: Create Employee -->
	<flow name="mcp-tool-create-employee" doc:name="MCP Tool - Create Employee">
		<http:listener doc:name="MCP Create Employee Listener" config-ref="streamable-http-config" path="/mcp/tools/create-employee"/>
		<logger level="INFO" message="MCP Tool: Create employee - Request: #[payload]"/>
		<flow-ref name="create-employee-with-fallback" doc:name="Create Employee Logic"/>
		<ee:transform doc:name="MCP Response Format">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	content: [
		{
			"type": "text",
			text: "Employee created successfully with ID: " ++ payload.employeeId
		}
	],
	isError: false,
	result: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<!-- MCP Tool: Get Employee -->
	<flow name="mcp-tool-get-employee" doc:name="MCP Tool - Get Employee">
		<http:listener doc:name="MCP Get Employee Listener" config-ref="streamable-http-config" path="/mcp/tools/get-employee"/>
		<set-variable variableName="empId" value="#[payload.empId]" doc:name="Set Employee ID"/>
		<logger level="INFO" message="MCP Tool: Get employee - ID: #[vars.empId]"/>
		<flow-ref name="get-employee-with-fallback" doc:name="Get Employee Logic"/>
		<ee:transform doc:name="MCP Response Format">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload.success == false)
	{
		content: [
			{
				"type": "text",
				text: payload.message
			}
		],
		isError: true,
		result: payload
	}
else
	{
		content: [
			{
				"type": "text",
				text: "Employee found: " ++ payload.first_name ++ " " ++ payload.last_name ++ " (" ++ payload.employee_id ++ ")"
			}
		],
		isError: false,
		result: payload
	}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<!-- MCP Tool: List Employees -->
	<flow name="mcp-tool-list-employees" doc:name="MCP Tool - List Employees">
		<http:listener doc:name="MCP List Employees Listener" config-ref="streamable-http-config" path="/mcp/tools/list-employees"/>
		<set-variable variableName="page" value="#[payload.page default 1]" doc:name="Set Page"/>
		<set-variable variableName="size" value="#[payload.size default 10]" doc:name="Set Size"/>
		<set-variable variableName="statusFilter" value="#[payload.status default '']" doc:name="Set Status Filter"/>
		<logger level="INFO" message="MCP Tool: List employees - Page: #[vars.page], Size: #[vars.size]"/>
		<flow-ref name="list-employees-with-fallback" doc:name="List Employees Logic"/>
		<ee:transform doc:name="MCP Response Format">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	content: [
		{
			"type": "text",
			text: "Found " ++ sizeOf(payload.data) ++ " employees on page " ++ payload.pagination.page
		}
	],
	isError: false,
	result: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<!-- MCP Tool: Update Employee Status -->
	<flow name="mcp-tool-update-employee-status" doc:name="MCP Tool - Update Employee Status">
		<http:listener doc:name="MCP Update Employee Status Listener" config-ref="streamable-http-config" path="/mcp/tools/update-employee-status"/>
		<set-variable variableName="empId" value="#[payload.empId]" doc:name="Set Employee ID"/>
		<set-variable variableName="status" value="#[upper(payload.status)]" doc:name="Set Status"/>
		<logger level="INFO" message="MCP Tool: Update employee status - ID: #[vars.empId], Status: #[vars.status]"/>
		
		<!-- Validate Status -->
		<choice doc:name="Validate Status">
			<when expression='#[vars.status in ["PENDING", "ACTIVE", "INACTIVE", "TERMINATED"]]'>
				<flow-ref name="update-employee-status-with-fallback" doc:name="Update Status Logic"/>
				<ee:transform doc:name="MCP Success Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	content: [
		{
			"type": "text",
			text: "Employee status updated successfully: " ++ vars.empId ++ " -> " ++ vars.status
		}
	],
	isError: false,
	result: payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="MCP Invalid Status Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	content: [
		{
			"type": "text",
			text: "Invalid status: " ++ vars.status ++ ". Must be one of: PENDING, ACTIVE, INACTIVE, TERMINATED"
		}
	],
	isError: true,
	result: {
		success: false,
		error: "INVALID_STATUS",
		message: "Status must be one of: PENDING, ACTIVE, INACTIVE, TERMINATED",
		provided: vars.status
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>

	<!-- ========================================================================================= -->
	<!-- APIKIT ROUTER MAIN FLOW - CONTRACT-FIRST API DEVELOPMENT -->
	<!-- ========================================================================================= -->

	<flow name="employee-onboarding-mcp-api-main" doc:name="APIKit Router Main Flow">
		<http:listener path="/api/*" config-ref="HTTPS_Listener_config" doc:name="APIKit HTTP Listener"/>
		
		<apikit:router config-ref="employee-onboarding-mcp-api-config" doc:name="APIKit Router"/>
		
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform doc:name="Bad Request Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: false,
	error: "BAD_REQUEST",
	message: "Invalid request format or parameters",
	details: error.description,
	timestamp: now()
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Not Found Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: false,
	error: "NOT_FOUND",
	message: "Endpoint not found",
	timestamp: now()
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="Method Not Allowed Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: false,
	error: "METHOD_NOT_ALLOWED", 
	message: "HTTP method not supported for this endpoint",
	timestamp: now()
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform doc:name="Not Acceptable Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: false,
	error: "NOT_ACCEPTABLE",
	message: "Requested content type not supported",
	timestamp: now()
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>

	<!-- ========================================================================================= -->
	<!-- APIKIT GENERATED IMPLEMENTATION FLOWS -->
	<!-- ========================================================================================= -->

	<!-- Health Check Implementation -->
	<flow name="get:\health:employee-onboarding-mcp-api-config" doc:name="GET /health">
		<logger level="INFO" message="APIKit: Health check requested"/>
		<set-variable variableName="origin" value="#[attributes.headers.origin default '*']" doc:name="Set CORS Origin" />
		<flow-ref name="health-check-implementation" doc:name="Health Check Logic"/>
		<ee:transform doc:name="Add CORS Headers">
			<ee:variables>
				<ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	"Access-Control-Allow-Origin": vars.origin,
	"Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
	"Access-Control-Allow-Headers": "Content-Type, Authorization, X-MCP-Client",
	"Access-Control-Max-Age": "3600"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>

	<!-- MCP Server Info Implementation -->
	<flow name="get:\mcp\info:employee-onboarding-mcp-api-config" doc:name="GET /mcp/info">
		<logger level="INFO" message="APIKit: MCP server info requested"/>
		<set-variable variableName="origin" value="#[attributes.headers.origin default '*']" doc:name="Set CORS Origin" />
		<flow-ref name="mcp-server-info-implementation" doc:name="MCP Info Logic"/>
		<ee:transform doc:name="Add CORS Headers">
			<ee:variables>
				<ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	"Access-Control-Allow-Origin": vars.origin,
	"Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
	"Access-Control-Allow-Headers": "Content-Type, Authorization, X-MCP-Client",
	"Access-Control-Max-Age": "3600"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>

	<!-- Create Employee Implementation -->
	<flow name="post:\mcp\tools\create-employee:application\json:employee-onboarding-mcp-api-config" doc:name="POST /mcp/tools/create-employee">
		<logger level="INFO" message="APIKit: Create employee - Request: #[payload]"/>
		<set-variable variableName="origin" value="#[attributes.headers.origin default '*']" doc:name="Set CORS Origin" />
		<flow-ref name="create-employee-with-fallback" doc:name="Create Employee Logic"/>
		<ee:transform doc:name="Add CORS Headers">
			<ee:variables>
				<ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	"Access-Control-Allow-Origin": vars.origin,
	"Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
	"Access-Control-Allow-Headers": "Content-Type, Authorization, X-MCP-Client",
	"Access-Control-Max-Age": "3600"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>

	<!-- Get Employee Implementation -->
	<flow name="get:\mcp\tools\get-employee\(empId):employee-onboarding-mcp-api-config" doc:name="GET /mcp/tools/get-employee/{empId}">
		<set-variable variableName="empId" value="#[attributes.uriParams.empId]" doc:name="Set Employee ID"/>
		<set-variable variableName="origin" value="#[attributes.headers.origin default '*']" doc:name="Set CORS Origin" />
		<logger level="INFO" message="APIKit: Get employee - ID: #[vars.empId]"/>
		<flow-ref name="get-employee-with-fallback" doc:name="Get Employee Logic"/>
		<ee:transform doc:name="Add CORS Headers">
			<ee:variables>
				<ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	"Access-Control-Allow-Origin": vars.origin,
	"Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
	"Access-Control-Allow-Headers": "Content-Type, Authorization, X-MCP-Client",
	"Access-Control-Max-Age": "3600"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>

	<!-- List Employees Implementation -->
	<flow name="get:\mcp\tools\list-employees:employee-onboarding-mcp-api-config" doc:name="GET /mcp/tools/list-employees">
		<set-variable variableName="page" value="#[attributes.queryParams.page default 1]" doc:name="Set Page"/>
		<set-variable variableName="size" value="#[attributes.queryParams.size default 10]" doc:name="Set Size"/>
		<set-variable variableName="statusFilter" value="#[attributes.queryParams.status default '']" doc:name="Set Status Filter"/>
		<set-variable variableName="origin" value="#[attributes.headers.origin default '*']" doc:name="Set CORS Origin" />
		<logger level="INFO" message="APIKit: List employees - Page: #[vars.page], Size: #[vars.size]"/>
		<flow-ref name="list-employees-with-fallback" doc:name="List Employees Logic"/>
		<ee:transform doc:name="Add CORS Headers">
			<ee:variables>
				<ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	"Access-Control-Allow-Origin": vars.origin,
	"Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
	"Access-Control-Allow-Headers": "Content-Type, Authorization, X-MCP-Client",
	"Access-Control-Max-Age": "3600"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>

	<!-- Update Employee Status Implementation -->
	<flow name="put:\mcp\tools\update-employee-status\(empId)\(status):employee-onboarding-mcp-api-config" doc:name="PUT /mcp/tools/update-employee-status/{empId}/{status}">
		<set-variable variableName="empId" value="#[attributes.uriParams.empId]" doc:name="Set Employee ID"/>
		<set-variable variableName="status" value="#[upper(attributes.uriParams.status)]" doc:name="Set Status"/>
		<set-variable variableName="origin" value="#[attributes.headers.origin default '*']" doc:name="Set CORS Origin" />
		
		<!-- Validate Status -->
		<choice doc:name="Validate Status">
			<when expression='#[vars.status in ["PENDING", "ACTIVE", "INACTIVE", "TERMINATED"]]'>
				<logger level="INFO" message="APIKit: Update employee status - ID: #[vars.empId], Status: #[vars.status]"/>
				<flow-ref name="update-employee-status-with-fallback" doc:name="Update Status Logic"/>
			</when>
			<otherwise>
				<ee:transform doc:name="Invalid Status Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: false,
	error: "INVALID_STATUS",
	message: "Status must be one of: PENDING, ACTIVE, INACTIVE, TERMINATED",
	provided: vars.status,
	timestamp: now()
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	"Access-Control-Allow-Origin": vars.origin,
	"Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
	"Access-Control-Allow-Headers": "Content-Type, Authorization, X-MCP-Client",
	"Access-Control-Max-Age": "3600"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<ee:transform doc:name="Add CORS Headers">
			<ee:variables>
				<ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	"Access-Control-Allow-Origin": vars.origin,
	"Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
	"Access-Control-Allow-Headers": "Content-Type, Authorization, X-MCP-Client",
	"Access-Control-Max-Age": "3600"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>

	<!-- ========================================================================================= -->
	<!-- PRODUCTION-GRADE HEALTH CHECK WITH COMPREHENSIVE STATUS -->
	<!-- ========================================================================================= -->

	<flow name="health-check-implementation" doc:name="Production Health Check Implementation">
		<set-variable variableName="healthChecks" value='#[["database", "application", "configuration"]]' doc:name="Initialize Health Checks Array"/>
		<set-variable variableName="overallHealthy" value="#[true]" doc:name="Initialize Overall Health Status"/>
		
		<!-- Sequential Health Check Processing - Ensures proper data handling -->
		<try doc:name="Try Database Health Check">
			<flow-ref name="database-health-status" doc:name="Database Health"/>
			<set-variable variableName="healthChecks" value="#[vars.healthChecks + [payload]]" doc:name="Add Database Health"/>
			<set-variable variableName="overallHealthy" value="#[vars.overallHealthy and payload.healthy]" doc:name="Update Overall Health"/>
			<error-handler>
				<on-error-continue type="ANY">
					<logger level="ERROR" message="Database health check failed: #[error.description]" doc:name="Database Health Error"/>
					<set-variable variableName="healthChecks" value="#[vars.healthChecks + [{name: 'database', healthy: false, status: 'DOWN', details: {error: error.description}}]]" doc:name="Add Failed Database Health"/>
					<set-variable variableName="overallHealthy" value="#[false]" doc:name="Set Unhealthy"/>
				</on-error-continue>
			</error-handler>
		</try>
		
		<try doc:name="Try Application Health Check">
			<flow-ref name="application-health-status" doc:name="Application Health"/>
			<set-variable variableName="healthChecks" value="#[vars.healthChecks + [payload]]" doc:name="Add Application Health"/>
			<set-variable variableName="overallHealthy" value="#[vars.overallHealthy and payload.healthy]" doc:name="Update Overall Health"/>
			<error-handler>
				<on-error-continue type="ANY">
					<logger level="ERROR" message="Application health check failed: #[error.description]" doc:name="Application Health Error"/>
					<set-variable variableName="healthChecks" value="#[vars.healthChecks + [{name: 'application', healthy: false, status: 'DOWN', details: {error: error.description}}]]" doc:name="Add Failed Application Health"/>
					<set-variable variableName="overallHealthy" value="#[false]" doc:name="Set Unhealthy"/>
				</on-error-continue>
			</error-handler>
		</try>
		
		<try doc:name="Try Configuration Health Check">
			<flow-ref name="configuration-health-status" doc:name="Configuration Health"/>
			<set-variable variableName="healthChecks" value="#[vars.healthChecks + [payload]]" doc:name="Add Configuration Health"/>
			<set-variable variableName="overallHealthy" value="#[vars.overallHealthy and payload.healthy]" doc:name="Update Overall Health"/>
			<error-handler>
				<on-error-continue type="ANY">
					<logger level="ERROR" message="Configuration health check failed: #[error.description]" doc:name="Configuration Health Error"/>
					<set-variable variableName="healthChecks" value="#[vars.healthChecks + [{name: 'configuration', healthy: false, status: 'DOWN', details: {error: error.description}}]]" doc:name="Add Failed Configuration Health"/>
					<set-variable variableName="overallHealthy" value="#[false]" doc:name="Set Unhealthy"/>
				</on-error-continue>
			</error-handler>
		</try>
		
		<ee:transform doc:name="Aggregate Health Response with Sequential Processing">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	status: if (vars.overallHealthy) "HEALTHY" else "DEGRADED",
	service: "${mcp.server.name}",
	version: "${mcp.server.version}",
	timestamp: now(),
	environment: "${env}",
	checks: vars.healthChecks,
	summary: {
		total: sizeOf(vars.healthChecks),
		healthy: sizeOf(vars.healthChecks filter $.healthy),
		unhealthy: sizeOf(vars.healthChecks filter (not $.healthy)),
		processingMode: "sequential"
	},
	uptime: (now() - |2024-01-01T00:00:00|) as Number {unit: "seconds"},
	features: {
		mockMode: "${mcp.features.mock.enabled}",
		databaseRequired: "${mcp.features.database.required}",
		auditEnabled: "${mcp.features.audit.enabled}"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<logger level="INFO" message="Health check completed sequentially - Status: #[payload.status], Checks: #[payload.summary.total]"/>
	</flow>

	<!-- ========================================================================================= -->
	<!-- MCP SERVER METADATA & DISCOVERY -->
	<!-- ========================================================================================= -->

	<flow name="mcp-server-info-implementation" doc:name="MCP Server Discovery Implementation">
		<ee:transform doc:name="Server Metadata Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	name: "${mcp.server.name}",
	version: "${mcp.server.version}",
	description: "${mcp.server.description}",
	baseUrl: "${mcp.server.baseUrl}",
	environment: "${env}",
	capabilities: {
		databases: ["h2"],
		fallbackMode: "mock",
		multiTenant: false,
		audit: "${mcp.features.audit.enabled}",
		cache: "${cache.enabled}"
	},
	endpoints: {
		health: "/health",
		info: "/mcp/info",
		tools: "/mcp/tools"
	},
	tools: [
		{
			name: "create-employee",
			description: "Create a new employee record",
			endpoint: "/mcp/tools/create-employee",
			method: "POST",
			inputSchema: {
				employeeId: "string",
				firstName: "string",
				lastName: "string",
				email: "string",
				phone: "string?",
				departmentId: "number?",
				position: "string?",
				hireDate: "date?",
				salary: "number?"
			}
		},
		{
			name: "get-employee",
			description: "Retrieve employee by ID",
			endpoint: "/mcp/tools/get-employee/{empId}",
			method: "GET"
		},
		{
			name: "list-employees",
			description: "List all employees with pagination support",
			endpoint: "/mcp/tools/list-employees",
			method: "GET",
			parameters: ["page?", "size?", "status?", "department?"]
		},
		{
			name: "update-employee-status",
			description: "Update employee onboarding status",
			endpoint: "/mcp/tools/update-employee-status/{empId}/{status}",
			method: "PUT",
			allowedStatuses: ["PENDING", "ACTIVE", "INACTIVE", "TERMINATED"]
		}
	]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<logger level="INFO" message="MCP server info requested - responding with metadata"/>
	</flow>

	<!-- ========================================================================================= -->
	<!-- CORE BUSINESS LOGIC WITH INTELLIGENT DATABASE FALLBACK -->
	<!-- ========================================================================================= -->

	<!-- Create Employee with Fallback Strategy -->
	<flow name="create-employee-with-fallback" doc:name="Create Employee with Smart Fallback">
		<try doc:name="H2 Database Operation">
			<ee:transform doc:name="Validate and Transform Input">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	employee_id: payload.employeeId default uuid()[0 to 7],
	first_name: payload.firstName default "",
	last_name: payload.lastName default "",
	email: payload.email default "",
	phone: payload.phone default null,
	department_id: payload.departmentId default null,
	position: payload.position default null,
	hire_date: payload.hireDate as Date default now() as Date,
	status: "PENDING",
	salary: payload.salary default null,
	address: payload.address default null
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			
			<!-- Use H2 Database Only -->
			<db:insert config-ref="H2_Database_Config" target="insertResult">
				<db:sql><![CDATA[INSERT INTO employees (
					employee_id, first_name, last_name, email, phone,
					department_id, position, hire_date, status, salary, address
				) VALUES (
					:employee_id, :first_name, :last_name, :email, :phone,
					:department_id, :position, :hire_date, :status, :salary, :address
				)]]></db:sql>
				<db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
			</db:insert>
			<set-variable variableName="databaseUsed" value="h2"/>
			
			<ee:transform doc:name="Success Response">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true,
	message: "Employee created successfully",
	employeeId: payload.employee_id,
	environment: "${env}",
	database: vars.databaseUsed,
	timestamp: now(),
	mockMode: vars.databaseUsed == "mock"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			
			<error-handler>
				<on-error-continue type="ANY">
					<flow-ref name="create-employee-mock-response"/>
				</on-error-continue>
			</error-handler>
		</try>
	</flow>

	<!-- Get Employee with Fallback Strategy -->
	<flow name="get-employee-with-fallback" doc:name="Get Employee with Smart Fallback">
		<try doc:name="H2 Database Query">
			<!-- Use H2 Database Only -->
			<db:select config-ref="H2_Database_Config">
				<db:sql><![CDATA[SELECT * FROM employees WHERE employee_id = :empId]]></db:sql>
				<db:input-parameters><![CDATA[#[{empId: vars.empId}]]]></db:input-parameters>
			</db:select>
			<set-variable variableName="databaseUsed" value="h2"/>
			
			<ee:transform doc:name="Format Response">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (sizeOf(payload) > 0)
	payload[0] ++ {
		environment: "${env}",
		database: vars.databaseUsed,
		timestamp: now(),
		mockMode: false
	}
else
	{
		success: false,
		error: "EMPLOYEE_NOT_FOUND",
		message: "Employee not found: " ++ vars.empId,
		employeeId: vars.empId,
		database: vars.databaseUsed,
		timestamp: now()
	}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			
			<error-handler>
				<on-error-continue type="ANY">
					<flow-ref name="get-employee-mock-response"/>
				</on-error-continue>
			</error-handler>
		</try>
	</flow>

	<!-- List Employees with Fallback Strategy -->
	<flow name="list-employees-with-fallback" doc:name="List Employees with Smart Fallback">
		<try doc:name="H2 Database Query with Pagination">
			<set-variable variableName="offset" value="#[(vars.page - 1) * vars.size]"/>
			
			<!-- Use H2 Database Only -->
			<db:select config-ref="H2_Database_Config">
				<db:sql><![CDATA[
					SELECT * FROM employees 
					WHERE (:statusFilter = '' OR status = :statusFilter)
					ORDER BY hire_date DESC, id DESC
					LIMIT :size OFFSET :offset
				]]></db:sql>
				<db:input-parameters><![CDATA[#[{
					statusFilter: vars.statusFilter,
					size: vars.size,
					offset: vars.offset
				}]]]></db:input-parameters>
			</db:select>
			<set-variable variableName="databaseUsed" value="h2"/>
			
			<ee:transform doc:name="Format Paginated Response">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true,
	data: payload,
	pagination: {
		page: vars.page,
		size: vars.size,
		totalResults: sizeOf(payload),
		hasMore: sizeOf(payload) == vars.size
	},
	filters: {
		status: vars.statusFilter
	},
	environment: "${env}",
	database: vars.databaseUsed,
	timestamp: now(),
	mockMode: vars.databaseUsed == "mock"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			
			<error-handler>
				<on-error-continue type="ANY">
					<flow-ref name="list-employees-mock-response"/>
				</on-error-continue>
			</error-handler>
		</try>
	</flow>

	<!-- Update Employee Status with Fallback Strategy -->
	<flow name="update-employee-status-with-fallback" doc:name="Update Status with Smart Fallback">
		<try doc:name="H2 Database Update">
			<!-- Use H2 Database Only -->
			<db:update config-ref="H2_Database_Config" target="updateResult">
				<db:sql><![CDATA[
					UPDATE employees 
					SET status = :status, updated_at = CURRENT_TIMESTAMP 
					WHERE employee_id = :empId
				]]></db:sql>
				<db:input-parameters><![CDATA[#[{empId: vars.empId, status: vars.status}]]]></db:input-parameters>
			</db:update>
			<set-variable variableName="databaseUsed" value="h2"/>
			
			<ee:transform doc:name="Success Response">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true,
	message: "Employee status updated successfully",
	employeeId: vars.empId,
	status: vars.status,
	affectedRows: vars.updateResult.affectedRows default 1,
	database: vars.databaseUsed,
	timestamp: now(),
	mockMode: vars.databaseUsed == "mock"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			
			<error-handler>
				<on-error-continue type="ANY">
					<flow-ref name="update-employee-status-mock-response"/>
				</on-error-continue>
			</error-handler>
		</try>
	</flow>

	<!-- ========================================================================================= -->
	<!-- HEALTH CHECK COMPONENTS -->
	<!-- ========================================================================================= -->

	<!-- Database Health Status -->
	<flow name="database-health-status" doc:name="Database Health Check">
		<try doc:name="Test Database Connection">
			<!-- Only test H2 database since PostgreSQL is disabled -->
			<db:select config-ref="H2_Database_Config">
				<db:sql><![CDATA[SELECT COUNT(*) as employee_count FROM employees]]></db:sql>
			</db:select>
			<set-variable variableName="dbType" value="H2"/>
			
			<ee:transform doc:name="Database Health Response">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	name: "database",
	healthy: true,
	status: "UP",
	details: {
		"type": vars.dbType,
		employeeCount: payload[0].employee_count,
		connection: "active"
	}
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			
			<error-handler>
				<on-error-continue type="ANY">
					<ee:transform doc:name="Database Error Response">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	name: "database",
	healthy: false,
	status: "DOWN",
	details: {
		error: error.description,
		"type": "unavailable"
	}
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
	</flow>

	<!-- Application Health Status -->
	<flow name="application-health-status" doc:name="Application Health Check">
		<ee:transform doc:name="Application Health Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	name: "application",
	healthy: true,
	status: "UP",
	details: {
		version: "${mcp.server.version}",
		environment: "${env}",
		memory: java!java::lang::Runtime::getRuntime().freeMemory(),
		uptime: "running"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<!-- Configuration Health Status -->
	<flow name="configuration-health-status" doc:name="Configuration Health Check">
		<ee:transform doc:name="Configuration Health Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	name: "configuration",
	healthy: true,
	status: "UP",
	details: {
		database: "${db.strategy}",
		mockMode: "${mcp.features.mock.enabled}",
		auditEnabled: "${mcp.features.audit.enabled}",
		cacheEnabled: "${cache.enabled}"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<!-- ========================================================================================= -->
	<!-- MOCK RESPONSE FLOWS FOR FALLBACK -->
	<!-- ========================================================================================= -->

	<!-- Create Employee Mock Response -->
	<flow name="create-employee-mock-response" doc:name="Create Employee Mock Response">
		<logger level="WARN" message="Using mock mode for create employee - ID: #[payload.employee_id default 'unknown']"/>
		
		<ee:transform doc:name="Mock Create Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true,
	message: "Employee created successfully (mock mode)",
	employeeId: payload.employee_id default uuid()[0 to 7],
	environment: "${env}",
	database: "mock",
	timestamp: now(),
	mockMode: true,
	warning: "This is a mock response - no actual database operation was performed"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<!-- Get Employee Mock Response -->
	<flow name="get-employee-mock-response" doc:name="Get Employee Mock Response">
		<logger level="WARN" message="Using mock mode for get employee - ID: #[vars.empId default 'unknown']"/>
		
		<ee:transform doc:name="Mock Get Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	employee_id: vars.empId default "EMP001",
	first_name: "Mock",
	last_name: "Employee",
	email: "mock.employee@company.com",
	phone: "+1-555-0123",
	department_id: 1,
	position: "Software Developer",
	hire_date: "2024-01-15",
	status: "ACTIVE",
	salary: 75000,
	address: "123 Mock Street, Mock City, MC 12345",
	created_at: "2024-01-15T09:00:00",
	updated_at: "2024-01-15T09:00:00",
	environment: "${env}",
	database: "mock",
	timestamp: now(),
	mockMode: true,
	warning: "This is mock data - not from actual database"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<!-- List Employees Mock Response -->
	<flow name="list-employees-mock-response" doc:name="List Employees Mock Response">
		<logger level="WARN" message="Using mock mode for list employees - Page: #[vars.page default 1]"/>
		
		<ee:transform doc:name="Mock List Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true,
	data: [
		{
			employee_id: "EMP001",
			first_name: "John",
			last_name: "Doe",
			email: "john.doe@company.com",
			phone: "+1-555-0101",
			position: "Software Engineer",
			status: "ACTIVE",
			hire_date: "2024-01-15"
		},
		{
			employee_id: "EMP002",
			first_name: "Jane",
			last_name: "Smith",
			email: "jane.smith@company.com",
			phone: "+1-555-0102",
			position: "Product Manager",
			status: "ACTIVE",
			hire_date: "2024-01-20"
		},
		{
			employee_id: "EMP003",
			first_name: "Bob",
			last_name: "Johnson",
			email: "bob.johnson@company.com",
			phone: "+1-555-0103",
			position: "Designer",
			status: "PENDING",
			hire_date: "2024-02-01"
		}
	],
	pagination: {
		page: vars.page default 1,
		size: vars.size default 10,
		totalResults: 3,
		hasMore: false
	},
	filters: {
		status: vars.statusFilter default ""
	},
	environment: "${env}",
	database: "mock",
	timestamp: now(),
	mockMode: true,
	warning: "This is mock data - not from actual database"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<!-- Update Employee Status Mock Response -->
	<flow name="update-employee-status-mock-response" doc:name="Update Employee Status Mock Response">
		<logger level="WARN" message="Using mock mode for update employee status - ID: #[vars.empId], Status: #[vars.status]"/>
		
		<ee:transform doc:name="Mock Update Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true,
	message: "Employee status updated successfully (mock mode)",
	employeeId: vars.empId default "EMP001",
	status: vars.status default "ACTIVE",
	affectedRows: 1,
	database: "mock",
	timestamp: now(),
	mockMode: true,
	warning: "This is a mock response - no actual database operation was performed"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

</mule>
