assets-allocation-mcp-server/src/main/mule/global.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
	http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

	
	<!-- Load Properties Configuration -->
	<configuration-properties file="config.properties" doc:name="Configuration properties"/>
	
	<!-- ================================================================== -->
	<!-- APIKIT ROUTER CONFIGURATION - CONTRACT-FIRST API DEVELOPMENT -->
	<!-- ================================================================== -->
	
	<apikit:config name="assets-allocation-mcp-api-config" 
		api="api/assets-allocation-mcp-server.yaml" 
		outboundHeadersMapName="outboundHeaders" 
		httpStatusVarName="httpStatus" 
		doc:name="APIKit Router Configuration"/>
	
	<!-- Global Error Handler for Production Reliability -->
	<error-handler name="Global_Error_Handler" doc:name="Global Production Error Handler">
		<on-error-propagate type="DB:CONNECTIVITY" logException="true" enableNotifications="true">
			<logger level="ERROR" message="Database connectivity error - switching to mock mode: #[error.description]"/>
			<ee:transform>
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: false,
	error: "DATABASE_UNAVAILABLE",
	message: "Database service temporarily unavailable. Please try again later.",
	timestamp: now(),
	fallbackMode: "mock"
}]]></ee:set-payload>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus">503</ee:set-variable>
				</ee:variables>
			</ee:transform>
		</on-error-propagate>
		<on-error-propagate type="TIMEOUT" logException="true">
			<logger level="WARN" message="Operation timeout - fallback to cached/mock data: #[error.description]"/>
			<ee:transform>
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: false,
	error: "SERVICE_TIMEOUT",
	message: "Request timeout - please try again",
	timestamp: now()
}]]></ee:set-payload>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus">408</ee:set-variable>
				</ee:variables>
			</ee:transform>
		</on-error-propagate>
		<on-error-propagate type="ANY" logException="true">
			<logger level="ERROR" message="Unexpected error in MCP server: #[error.description]"/>
			<ee:transform>
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: false,
	error: "INTERNAL_ERROR",
	message: "Internal server error - support team notified",
	timestamp: now(),
	requestId: uuid()
}]]></ee:set-payload>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus">500</ee:set-variable>
				</ee:variables>
			</ee:transform>
		</on-error-propagate>
	</error-handler>

	<!-- Configure Global Error Handler -->
	<configuration defaultErrorHandler-ref="Global_Error_Handler" />

	<!-- ================================================================== -->
	<!-- DATABASE CONFIGURATIONS - PRODUCTION GRADE WITH CONNECTION POOLING -->
	<!-- ================================================================== -->


	<!-- H2 Configuration with Connection Pooling and Script Initialization -->
	<db:config name="H2_Database_Config" doc:name="H2 Database Config with Scripts">
		<db:generic-connection 
			url="${db.h2.url}" 
			driverClassName="${db.h2.driverClassName}" 
			user="${db.h2.username}" 
			password="${db.h2.password}">
			<db:pooling-profile 
				maxPoolSize="${db.h2.maxPoolSize}" 
				minPoolSize="${db.h2.minPoolSize}" 
				acquireIncrement="1" 
				preparedStatementCacheSize="10"/>
			<db:column-types>
				<db:column-type typeName="TIMESTAMP" id="93" className="java.sql.Timestamp"/>
				<db:column-type typeName="DATE" id="91" className="java.sql.Date"/>
				<db:column-type typeName="VARCHAR" id="12" className="java.lang.String"/>
				<db:column-type typeName="DECIMAL" id="3" className="java.math.BigDecimal"/>
			</db:column-types>
		</db:generic-connection>
	</db:config>

	<!-- ================================================================== -->
	<!-- HTTP LISTENER CONFIGURATION - ENVIRONMENT AWARE -->
	<!-- Docker: HTTP | CloudHub/Production: HTTPS with JKS -->
	<!-- ================================================================== -->

	<!-- HTTP Listener for Docker/Development Environment -->
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="${http.host}" port="${http.port}" protocol="HTTP"/>
	</http:listener-config>

		<!-- HTTPS Listener Configuration for CloudHub - HARDCODED PORT -->
	<http:listener-config name="HTTPS_Listener_config" doc:name="HTTPS Listener config" doc:id="6d9e9801-de62-4c3d-942a-a3ecfc98d115">
		<http:listener-connection host="0.0.0.0" port="8082" protocol="HTTPS">
			<tls:context name="tls-context">
				<tls:key-store type="jks" path="server.jks"
					keyPassword="MULEPASS" password="MULEPASS" alias="mule-server" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>

	<!-- ================================================================== -->
	<!-- PRODUCTION MONITORING & HEALTH CHECK CONFIGURATIONS -->
	<!-- ================================================================== -->

	<!-- HTTP Request Configuration for External Services -->
	<http:request-config name="External_HTTP_Config" doc:name="External Service Config">
		<http:request-connection>
			<http:client-socket-properties>
				<sockets:tcp-client-socket-properties connectionTimeout="10000" clientTimeout="30000"/>
			</http:client-socket-properties>
		</http:request-connection>
	</http:request-config>

	<!-- ================================================================== -->
	<!-- OPERATIONAL FLOWS FOR PRODUCTION READINESS -->
	<!-- ================================================================== -->

	<!-- Database Health Check Flow - Environment Aware -->
	<flow name="database-health-check" doc:name="Database Health Monitor">
		<scheduler doc:name="Health Check Scheduler">
			<scheduling-strategy>
				<fixed-frequency frequency="30" timeUnit="SECONDS" startDelay="10"/>
			</scheduling-strategy>
		</scheduler>
		
		<choice doc:name="Health Check Enabled?">
			<when expression="${db.healthcheck.enabled}">
				<logger level="INFO" message="Database health check - Strategy: ${db.strategy} | Environment: ${env}"/>
				
				<!-- Environment-Aware Database Selection -->
				<choice doc:name="Select Database Based on Strategy">
					<!-- H2 Strategy: Cloud/Local environments -->
					<when expression='#["h2" == "${db.strategy}"]'>
						<try doc:name="Test H2 Database">
							<db:select config-ref="H2_Database_Config">
								<db:sql>SELECT 1 as health_check, CURRENT_TIMESTAMP as check_time</db:sql>
							</db:select>
							<set-variable variableName="databaseHealthy" value="true"/>
							<logger level="DEBUG" message="H2 database health check: PASSED"/>
							
							<error-handler>
								<on-error-continue type="DB:*">
									<set-variable variableName="databaseHealthy" value="false"/>
									<logger level="ERROR" message="H2 database health check FAILED: #[error.description]"/>
								</on-error-continue>
							</error-handler>
						</try>
					</when>
					
					
					<!-- Auto Strategy: Use H2 for all environments -->
					<when expression='#["auto" == "${db.strategy}"]'>
						<try doc:name="Test H2 Database (Auto)">
							<db:select config-ref="H2_Database_Config">
								<db:sql>SELECT 1 as health_check, CURRENT_TIMESTAMP as check_time</db:sql>
							</db:select>
							<set-variable variableName="databaseHealthy" value="true"/>
							<logger level="DEBUG" message="H2 database health check (auto): PASSED"/>
							
							<error-handler>
								<on-error-continue type="DB:*">
									<set-variable variableName="databaseHealthy" value="false"/>
									<logger level="ERROR" message="H2 database health check failed: #[error.description]"/>
								</on-error-continue>
							</error-handler>
						</try>
					</when>
					
					<!-- Unknown strategy -->
					<otherwise>
						<logger level="WARN" message='Unknown database strategy: ${db.strategy}. Skipping health check.'/>
						<set-variable variableName="databaseHealthy" value="false"/>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<logger level="DEBUG" message="Database health check disabled"/>
				<set-variable variableName="databaseHealthy" value="true"/>
			</otherwise>
		</choice>
	</flow>

	<!-- Database Initialization Flow - Single Script Approach -->
	<flow name="database-initialization-global" doc:name="Database Initialization Flow Global" initialState="started">
		<scheduler doc:name="Database Init Scheduler">
			<scheduling-strategy>
				<fixed-frequency frequency="86400" timeUnit="SECONDS" startDelay="2"/>
			</scheduling-strategy>
		</scheduler>
		
		<choice doc:name="Database Initialization Enabled?">
			<when expression="${db.initialization.enabled}">
				<logger level="INFO" message="Database initialization enabled - checking if database needs setup"/>
				
				<try doc:name="Check Database State">
					<!-- Test if database is already initialized -->
					<db:select config-ref="H2_Database_Config" doc:name="Check Init Status">
						<db:sql>SELECT COUNT(*) as init_count FROM departments WHERE name = '_INIT_COMPLETE_'</db:sql>
					</db:select>
					
					<choice doc:name="Database Already Initialized?">
						<when expression="#[payload[0].init_count > 0]">
							<logger level="INFO" message="Database already initialized - skipping script execution"/>
						</when>
						<otherwise>
							<logger level="INFO" message="Database not initialized - executing init-script.sql"/>
							<file:read path="src/main/resources/init-script.sql" doc:name="Read Init Script"/>
							
							<!-- Split script into individual statements and execute them -->
							<set-variable variableName="sqlStatements" value="#[payload splitBy(';\n') filter ($ != null and sizeOf(trim($)) > 0)]"/>
							
							<foreach doc:name="Execute SQL Statements">
								<choice doc:name="Skip Comments and Empty Lines">
									<when expression="#[not (payload startsWith '--') and sizeOf(trim(payload)) > 0]">
										<try doc:name="Execute SQL Statement">
											<db:execute-ddl config-ref="H2_Database_Config" doc:name="Execute DDL">
												<db:sql>#[payload]</db:sql>
											</db:execute-ddl>
											<logger level="DEBUG" message="Executed SQL: #[payload[0..50]]..."/>
											
											<error-handler>
												<on-error-continue type="DB:*">
													<logger level="WARN" message="SQL execution warning (continuing): #[error.description] for statement: #[payload[0..50]]..."/>
												</on-error-continue>
											</error-handler>
										</try>
									</when>
								</choice>
							</foreach>
							
							<logger level="INFO" message="Database initialization completed successfully"/>
						</otherwise>
					</choice>
					
					<error-handler>
						<on-error-continue type="DB:*">
							<logger level="INFO" message="Database tables don't exist - executing full initialization script"/>
							
							<!-- Read and execute the initialization script -->
							<file:read path="src/main/resources/init-script.sql" doc:name="Read Init Script"/>
							
							<!-- Split script into individual statements -->
							<set-variable variableName="sqlStatements" value="#[payload splitBy(';\n') filter ($ != null and sizeOf(trim($)) > 0)]"/>
							
							<foreach doc:name="Execute SQL Statements">
								<choice doc:name="Skip Comments and Empty Lines">
									<when expression="#[not (payload startsWith '--') and sizeOf(trim(payload)) > 0]">
										<try doc:name="Execute SQL Statement">
											<db:execute-ddl config-ref="H2_Database_Config" doc:name="Execute DDL">
												<db:sql>#[payload]</db:sql>
											</db:execute-ddl>
											<logger level="DEBUG" message="Executed SQL: #[payload[0..50]]..."/>
											
											<error-handler>
												<on-error-continue type="DB:*">
													<logger level="WARN" message="SQL execution warning (continuing): #[error.description] for statement: #[payload[0..50]]..."/>
												</on-error-continue>
											</error-handler>
										</try>
									</when>
								</choice>
							</foreach>
							
							<logger level="INFO" message="Database initialization completed successfully"/>
						</on-error-continue>
					</error-handler>
				</try>
			</when>
			<otherwise>
				<logger level="DEBUG" message="Database initialization disabled in configuration"/>
			</otherwise>
		</choice>
	</flow>

	<!-- Application Startup Flow -->
	<flow name="application-startup" doc:name="Application Startup" initialState="started">
		<scheduler doc:name="Startup Scheduler">
			<scheduling-strategy>
				<fixed-frequency frequency="86400" timeUnit="SECONDS" startDelay="1"/>
			</scheduling-strategy>
		</scheduler>
		
		<logger level="INFO" message="Assets Allocation MCP Server starting up - Version: ${mcp.server.version}"/>
		<logger level="INFO" message="Environment: ${env} | Database Strategy: ${db.strategy}"/>
		<logger level="INFO" message="Features - Mock: ${mcp.features.mock.enabled} | Audit: ${mcp.features.audit.enabled}"/>
		<logger level="INFO" message="Server URL: ${mcp.server.baseUrl}"/>
		<logger level="INFO" message="APIKit Router enabled for contract-first API development"/>
		<logger level="INFO" message="Database Initialization: ${db.initialization.enabled} | Script: init-script.sql (SINGLE SOURCE)"/>
		
		<!-- Initialize monitoring metrics if enabled -->
		<choice doc:name="Initialize Monitoring">
			<when expression="${monitoring.metrics.enabled}">
				<logger level="INFO" message="Initializing production metrics collection"/>
			</when>
			<otherwise>
				<logger level="DEBUG" message="Metrics collection disabled"/>
			</otherwise>
		</choice>
	</flow>

</mule>
