src/main/mule/employee-onboarding-mcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:db="http://www.mulesoft.org/schema/mule/db" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

  <http:listener-config name="HTTP_Listener_config">
    <http:listener-connection host="0.0.0.0" port="8081" />
  </http:listener-config>

  <db:config name="Database_Config">
    <db:generic-connection 
      url="#[app.properties['db.url'] default 'jdbc:h2:file:./data/onboarding;MODE=PostgreSQL;DB_CLOSE_DELAY=-1']" 
      driverClassName="org.h2.Driver" 
      user="sa" />
  </db:config>

  <!-- CREATE EMPLOYEE -->
  <flow name="create-employee-mcp">
    <!-- ✅ FIXED: No method/statusCode attributes -->
    <http:listener config-ref="HTTP_Listener_config" 
                   path="/mcp/tools/create-employee"
                   allowedMethods="POST"/>
    
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload.name? and payload.email?)
  payload
else
  error("VALIDATION_ERROR", "name and email are required")]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    
    <try>
      <db:insert config-ref="Database_Config">
        <db:sql><![CDATA[INSERT INTO employees (name, email, status) VALUES (#[payload.name], #[payload.email], 'pending') RETURNING id]]></db:sql>
      </db:insert>
      <error-handler>
        <on-error-continue type="DB:CONNECTIVITY">
          <set-payload value="#[{'error': 'Database unavailable', 'status': 'failed'}]"/>
        </on-error-continue>
      </error-handler>
    </try>
    
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "created",
  employeeId: payload[0].id,
  name: payload[0].name,
  email: payload[0].email
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>

  <!-- GET EMPLOYEE -->
  <flow name="get-employee-mcp">
    <http:listener config-ref="HTTP_Listener_config" 
                   path="/mcp/tools/employee/{id}"
                   allowedMethods="GET"/>
    
    <try>
      <db:select config-ref="Database_Config">
        <db:sql><![CDATA[SELECT e.*, COUNT(a.id) as asset_count FROM employees e LEFT JOIN assets a ON e.id = a.emp_id WHERE e.id = #[attributes.pathParams.id] GROUP BY e.id]]></db:sql>
      </db:select>
      <error-handler>
        <on-error-continue type="DB:CONNECTIVITY">
          <set-payload value="#[{'error': 'Database unavailable'}]"/>
        </on-error-continue>
      </error-handler>
    </try>
    
    <choice>
      <when expression="#[sizeOf(payload) > 0]">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "found",
  employee: payload[0],
  onboardingComplete: (payload[0].asset_count default 0) > 0
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
      </when>
      <otherwise>
        <set-payload value="#[{'status': 'not_found', 'message': 'Employee not found'}]"/>
      </otherwise>
    </choice>
  </flow>

  <!-- HEALTH CHECK -->
  <flow name="mcp-health">
    <http:listener config-ref="HTTP_Listener_config" 
                   path="/mcp/health"
                   allowedMethods="GET"/>
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "healthy",
  service: "employee-onboarding-mcp",
  version: "1.0.0"
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>

</mule>
