src/main/mule/employee-onboarding-mcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:db="http://www.mulesoft.org/schema/mule/db" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
      http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <!-- DATABASE TABLE INITIALIZATION -->
    <flow name="initialize-database" doc:name="Initialize Database">
        <http:listener config-ref="HTTP_Listener_config" 
                       path="/mcp/init"
                       allowedMethods="POST" doc:name="Initialize Database Listener"/>
        
        <try doc:name="Try Create Tables">
            <db:execute-ddl config-ref="Database_Config" doc:name="Create Tables">
                <db:sql><![CDATA[
                    CREATE TABLE IF NOT EXISTS employees (
                        id INT AUTO_INCREMENT PRIMARY KEY,
                        name VARCHAR(255) NOT NULL,
                        email VARCHAR(255) UNIQUE NOT NULL,
                        status VARCHAR(50) DEFAULT 'pending',
                        department VARCHAR(255),
                        position VARCHAR(255),
                        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
                    );
                    
                    CREATE TABLE IF NOT EXISTS assets (
                        id INT AUTO_INCREMENT PRIMARY KEY,
                        emp_id INT,
                        name VARCHAR(255) NOT NULL,
                        type VARCHAR(100),
                        status VARCHAR(50) DEFAULT 'assigned',
                        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                        FOREIGN KEY (emp_id) REFERENCES employees(id) ON DELETE CASCADE
                    );
                ]]></db:sql>
            </db:execute-ddl>
            <logger level="INFO" doc:name="Log Table Creation" message="Database tables created successfully"/>
            <set-payload value="#[{'status': 'success', 'message': 'Database tables created successfully'}]" doc:name="Success Response"/>
            <error-handler>
                <on-error-continue type="ANY" doc:name="Any Error">
                    <logger level="ERROR" doc:name="Log Error" message="#[error.description]"/>
                    <set-payload value="#[{'status': 'error', 'message': error.description}]" doc:name="Error Response"/>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <!-- CREATE EMPLOYEE (POST) -->
    <flow name="create-employee-mcp" doc:name="Create Employee">
        <http:listener config-ref="HTTP_Listener_config" 
                       path="/mcp/tools/employees"
                       allowedMethods="POST" doc:name="Create Employee Listener"/>
        
        <ee:transform doc:name="Validate Input">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload.name? and payload.email?)
    payload
else
    error("VALIDATION_ERROR", "name and email are required")]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <try doc:name="Try Create Employee">
            <db:insert config-ref="Database_Config" doc:name="Insert Employee">
                <db:sql><![CDATA[INSERT INTO employees (name, email, status, department, position) 
                VALUES (#[payload.name], #[payload.email], #[payload.status default 'pending'], #[payload.department default ''], #[payload.position default ''])]]></db:sql>
            </db:insert>
            <db:select config-ref="Database_Config" doc:name="Get Created Employee">
                <db:sql><![CDATA[SELECT * FROM employees WHERE email = #[payload.email] ORDER BY id DESC LIMIT 1]]></db:sql>
            </db:select>
            <error-handler>
                <on-error-continue type="DB:CONNECTIVITY" doc:name="DB Connectivity Error">
                    <set-payload value="#[{'error': 'Database unavailable', 'status': 'failed'}]"/>
                    <set-variable value="500" variableName="httpStatus"/>
                </on-error-continue>
                <on-error-continue type="ANY" doc:name="SQL Exception">
                    <set-payload value="#[{'error': 'Employee already exists or invalid data', 'status': 'failed'}]"/>
                    <set-variable value="409" variableName="httpStatus"/>
                </on-error-continue>
            </error-handler>
        </try>
        
        <ee:transform doc:name="Format Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "created",
    employee: payload[0]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- GET ALL EMPLOYEES (GET) -->
    <flow name="get-all-employees-mcp" doc:name="Get All Employees">
        <http:listener config-ref="HTTP_Listener_config" 
                       path="/mcp/tools/employees"
                       allowedMethods="GET" doc:name="Get All Employees Listener"/>
        
        <try doc:name="Try Get All Employees">
            <db:select config-ref="Database_Config" doc:name="Select All Employees">
                <db:sql><![CDATA[SELECT e.*, COUNT(a.id) as asset_count 
                FROM employees e 
                LEFT JOIN assets a ON e.id = a.emp_id 
                GROUP BY e.id, e.name, e.email, e.status, e.department, e.position, e.created_at, e.updated_at
                ORDER BY e.created_at DESC]]></db:sql>
            </db:select>
            <error-handler>
                <on-error-continue type="DB:CONNECTIVITY" doc:name="DB Connectivity Error">
                    <set-payload value="#[{'error': 'Database unavailable'}]"/>
                    <set-variable value="500" variableName="httpStatus"/>
                </on-error-continue>
            </error-handler>
        </try>
        
        <ee:transform doc:name="Format Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "success",
    count: sizeOf(payload),
    employees: payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- GET EMPLOYEE BY ID (GET) -->
    <flow name="get-employee-mcp" doc:name="Get Employee By ID">
        <http:listener config-ref="HTTP_Listener_config" 
                       path="/mcp/tools/employees/{id}"
                       allowedMethods="GET" doc:name="Get Employee Listener"/>
        
        <try doc:name="Try Get Employee">
            <db:select config-ref="Database_Config" doc:name="Select Employee">
                <db:sql><![CDATA[SELECT e.*, COUNT(a.id) as asset_count 
                FROM employees e 
                LEFT JOIN assets a ON e.id = a.emp_id 
                WHERE e.id = #[attributes.pathParams.id] 
                GROUP BY e.id, e.name, e.email, e.status, e.department, e.position, e.created_at, e.updated_at]]></db:sql>
            </db:select>
            <error-handler>
                <on-error-continue type="DB:CONNECTIVITY" doc:name="DB Connectivity Error">
                    <set-payload value="#[{'error': 'Database unavailable'}]"/>
                    <set-variable value="500" variableName="httpStatus"/>
                </on-error-continue>
            </error-handler>
        </try>
        
        <choice doc:name="Check If Found">
            <when expression="#[sizeOf(payload) > 0]">
                <ee:transform doc:name="Format Found Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "found",
    employee: payload[0],
    onboardingComplete: (payload[0].asset_count default 0) > 0
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <set-payload value="#[{'status': 'not_found', 'message': 'Employee not found'}]" doc:name="Not Found Response"/>
                <set-variable value="404" variableName="httpStatus"/>
            </otherwise>
        </choice>
    </flow>

    <!-- UPDATE EMPLOYEE (PUT) -->
    <flow name="update-employee-mcp" doc:name="Update Employee">
        <http:listener config-ref="HTTP_Listener_config" 
                       path="/mcp/tools/employees/{id}"
                       allowedMethods="PUT" doc:name="Update Employee Listener"/>
        
        <try doc:name="Try Update Employee">
            <db:update config-ref="Database_Config" doc:name="Update Employee">
                <db:sql><![CDATA[UPDATE employees 
                SET name = #[payload.name default null], 
                    email = #[payload.email default null],
                    status = #[payload.status default null],
                    department = #[payload.department default null],
                    position = #[payload.position default null],
                    updated_at = CURRENT_TIMESTAMP
                WHERE id = #[attributes.pathParams.id] 
                AND (#[payload.name] IS NOT NULL OR #[payload.email] IS NOT NULL OR #[payload.status] IS NOT NULL OR #[payload.department] IS NOT NULL OR #[payload.position] IS NOT NULL)]]></db:sql>
            </db:update>
            <db:select config-ref="Database_Config" doc:name="Get Updated Employee">
                <db:sql><![CDATA[SELECT * FROM employees WHERE id = #[attributes.pathParams.id]]]></db:sql>
            </db:select>
            <error-handler>
                <on-error-continue type="DB:CONNECTIVITY" doc:name="DB Connectivity Error">
                    <set-payload value="#[{'error': 'Database unavailable', 'status': 'failed'}]"/>
                    <set-variable value="500" variableName="httpStatus"/>
                </on-error-continue>
                <on-error-continue type="ANY" doc:name="SQL Exception">
                    <set-payload value="#[{'error': 'Invalid data or constraint violation', 'status': 'failed'}]"/>
                    <set-variable value="400" variableName="httpStatus"/>
                </on-error-continue>
            </error-handler>
        </try>
        
        <choice doc:name="Check Update Result">
            <when expression="#[sizeOf(payload) > 0]">
                <ee:transform doc:name="Format Updated Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "updated",
    employee: payload[0]
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <set-payload value="#[{'status': 'not_found', 'message': 'Employee not found'}]" doc:name="Not Found Response"/>
                <set-variable value="404" variableName="httpStatus"/>
            </otherwise>
        </choice>
    </flow>

    <!-- DELETE EMPLOYEE (DELETE) -->
    <flow name="delete-employee-mcp" doc:name="Delete Employee">
        <http:listener config-ref="HTTP_Listener_config" 
                       path="/mcp/tools/employees/{id}"
                       allowedMethods="DELETE" doc:name="Delete Employee Listener"/>
        
        <try doc:name="Try Delete Employee">
            <!-- First get the employee to return in response -->
            <db:select config-ref="Database_Config" doc:name="Get Employee Before Delete">
                <db:sql><![CDATA[SELECT * FROM employees WHERE id = #[attributes.pathParams.id]]]></db:sql>
            </db:select>
            <set-variable value="#[payload]" variableName="employeeToDelete"/>
            
            <!-- Delete the employee -->
            <db:delete config-ref="Database_Config" doc:name="Delete Employee">
                <db:sql><![CDATA[DELETE FROM employees WHERE id = #[attributes.pathParams.id]]]></db:sql>
            </db:delete>
            
            <error-handler>
                <on-error-continue type="DB:CONNECTIVITY" doc:name="DB Connectivity Error">
                    <set-payload value="#[{'error': 'Database unavailable', 'status': 'failed'}]"/>
                    <set-variable value="500" variableName="httpStatus"/>
                </on-error-continue>
            </error-handler>
        </try>
        
        <choice doc:name="Check Delete Result">
            <when expression="#[sizeOf(vars.employeeToDelete) > 0]">
                <ee:transform doc:name="Format Deleted Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "deleted",
    employee: vars.employeeToDelete[0]
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <set-payload value="#[{'status': 'not_found', 'message': 'Employee not found'}]" doc:name="Not Found Response"/>
                <set-variable value="404" variableName="httpStatus"/>
            </otherwise>
        </choice>
    </flow>

    <!-- CREATE ASSET FOR EMPLOYEE (POST) -->
    <flow name="create-asset-mcp" doc:name="Create Asset">
        <http:listener config-ref="HTTP_Listener_config" 
                       path="/mcp/tools/employees/{empId}/assets"
                       allowedMethods="POST" doc:name="Create Asset Listener"/>
        
        <ee:transform doc:name="Validate Input">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload.name?)
    payload ++ {emp_id: attributes.pathParams.empId}
else
    error("VALIDATION_ERROR", "asset name is required")]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <try doc:name="Try Create Asset">
            <db:insert config-ref="Database_Config" doc:name="Insert Asset">
                <db:sql><![CDATA[INSERT INTO assets (emp_id, name, type, status) 
                VALUES (#[payload.emp_id], #[payload.name], #[payload.type default 'equipment'], #[payload.status default 'assigned'])]]></db:sql>
            </db:insert>
            <db:select config-ref="Database_Config" doc:name="Get Created Asset">
                <db:sql><![CDATA[SELECT * FROM assets WHERE emp_id = #[payload.emp_id] AND name = #[payload.name] ORDER BY id DESC LIMIT 1]]></db:sql>
            </db:select>
            <error-handler>
                <on-error-continue type="DB:CONNECTIVITY" doc:name="DB Connectivity Error">
                    <set-payload value="#[{'error': 'Database unavailable', 'status': 'failed'}]"/>
                    <set-variable value="500" variableName="httpStatus"/>
                </on-error-continue>
                <on-error-continue type="ANY" doc:name="SQL Exception">
                    <set-payload value="#[{'error': 'Employee not found or invalid data', 'status': 'failed'}]"/>
                    <set-variable value="400" variableName="httpStatus"/>
                </on-error-continue>
            </error-handler>
        </try>
        
        <ee:transform doc:name="Format Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "created",
    asset: payload[0]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- GET ASSETS FOR EMPLOYEE (GET) -->
    <flow name="get-employee-assets-mcp" doc:name="Get Employee Assets">
        <http:listener config-ref="HTTP_Listener_config" 
                       path="/mcp/tools/employees/{empId}/assets"
                       allowedMethods="GET" doc:name="Get Employee Assets Listener"/>
        
        <try doc:name="Try Get Assets">
            <db:select config-ref="Database_Config" doc:name="Select Employee Assets">
                <db:sql><![CDATA[SELECT * FROM assets WHERE emp_id = #[attributes.pathParams.empId] ORDER BY created_at DESC]]></db:sql>
            </db:select>
            <error-handler>
                <on-error-continue type="DB:CONNECTIVITY" doc:name="DB Connectivity Error">
                    <set-payload value="#[{'error': 'Database unavailable'}]"/>
                    <set-variable value="500" variableName="httpStatus"/>
                </on-error-continue>
            </error-handler>
        </try>
        
        <ee:transform doc:name="Format Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "success",
    employeeId: attributes.pathParams.empId,
    count: sizeOf(payload),
    assets: payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- HEALTH CHECK -->
    <flow name="mcp-health" doc:name="Health Check">
        <http:listener config-ref="HTTP_Listener_config" 
                       path="/mcp/health"
                       allowedMethods="GET" doc:name="Health Check Listener"/>
        
        <try doc:name="Try DB Connection">
            <db:select config-ref="Database_Config" doc:name="Test DB Connection">
                <db:sql><![CDATA[SELECT 1 as test]]></db:sql>
            </db:select>
            <set-variable value="true" variableName="dbHealthy"/>
            <error-handler>
                <on-error-continue type="ANY" doc:name="DB Error">
                    <set-variable value="false" variableName="dbHealthy"/>
                </on-error-continue>
            </error-handler>
        </try>
        
        <ee:transform doc:name="Format Health Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: if (vars.dbHealthy) "healthy" else "unhealthy",
    service: "employee-onboarding-mcp",
    version: "1.0.1",
    database: if (vars.dbHealthy) "connected" else "disconnected",
    timestamp: now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- API DOCUMENTATION -->
    <flow name="api-documentation" doc:name="API Documentation">
        <http:listener config-ref="HTTP_Listener_config" 
                       path="/mcp/api"
                       allowedMethods="GET" doc:name="API Docs Listener"/>
        
        <ee:transform doc:name="API Documentation">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    service: "Employee Onboarding MCP Server",
    version: "1.0.1",
    endpoints: {
        health: {
            method: "GET",
            path: "/mcp/health",
            description: "Health check endpoint"
        },
        employees: {
            create: {
                method: "POST",
                path: "/mcp/tools/employees",
                description: "Create a new employee",
                payload: {
                    name: "string (required)",
                    email: "string (required)",
                    department: "string (optional)",
                    position: "string (optional)",
                    status: "string (optional, default: pending)"
                }
            },
            getAll: {
                method: "GET",
                path: "/mcp/tools/employees",
                description: "Get all employees"
            },
            getById: {
                method: "GET", 
                path: "/mcp/tools/employees/{id}",
                description: "Get employee by ID"
            },
            update: {
                method: "PUT",
                path: "/mcp/tools/employees/{id}",
                description: "Update employee by ID",
                payload: {
                    name: "string (optional)",
                    email: "string (optional)",
                    department: "string (optional)",
                    position: "string (optional)",
                    status: "string (optional)"
                }
            },
            delete: {
                method: "DELETE",
                path: "/mcp/tools/employees/{id}",
                description: "Delete employee by ID"
            }
        },
        assets: {
            create: {
                method: "POST",
                path: "/mcp/tools/employees/{empId}/assets",
                description: "Create asset for employee",
                payload: {
                    name: "string (required)",
                    type: "string (optional, default: equipment)",
                    status: "string (optional, default: assigned)"
                }
            },
            getByEmployee: {
                method: "GET",
                path: "/mcp/tools/employees/{empId}/assets",
                description: "Get all assets for employee"
            }
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>
